<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={{description}}>
    <meta name="keywords" content={{keywords}}>
    <title>{{namePage}}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <!--leaflet.js library-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!--leaflet.js library END-->
</head>
<body>
    <header class="menu">
        <div class="container menu-container">
        <div class="menu__logo">
            <p>Elegancy</p>
        </div>
        <div class="menu__navbar">
            <nav class="navbar">
            <div class="navbar__item"><a href="/" class="link link--actived">Home</a></div>
            <div class="navbar__item"><a href="products" class="link">Clothes</a></div>
            <div class="navbar__item"><a href="contacts" class="link">Contacts</a></div>
            <div class="navbar__item"><a href="about" class="link">Information</a></div>
            </nav>
        </div>
        <div class="menu__icons">
            <div class="menu__icons--item">
            <span id="icon-search" class="icon material-icons-outlined">search
            </span>
            </div>
            <div class="menu__icons--item">
            <div id="icon_shopping" class="icon material-icons-outlined">shopping_bag
                <div class="icon_num_container">
                <div class="icon_num_inner">
                    <div class="icon_num">0</div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="menu__buttons">
            <div class="menu__buttons--item">
            <a href="/log-in" class="btn btn--refilled">Iniciar Sesión</a>
            </div>
            <div class="menu__buttons--item">
            <a href="/sign-in" class="btn btn--outlined">Registrarse</a>
            </div>
        </div>
        <div class="menu__burger burger-show">
            <span id="hamburger" class="icon material-icons-outlined">menu</span>
        </div>
        </div>
    </header>

  <!-- Components -->

    <div id="search" class="search">
    <div class="search-container">
        <span class="material-icons-outlined opacity right-space">arrow_back</span>          
        <input class="search-field" placeholder="Search..." type="text">
        <span id="icon-close" class="material-icons-outlined opacity left-space">close</span>          
      </div>
    </div>

    <nav class="navbar-movil" id="nav">
    <ul class="navbar-movil-container container">
      <li class="navbar-movil--list"><a href="/" class="navbar-link link link--actived">HOME</a></li>
      <li class="navbar-movil--list"><a href="products" class="navbar-link link">PRODUCTS</a></li>
      <li class="navbar-movil--list"><a href="contacts" class="navbar-link link">CONTACTS</a></li>
      <li class="navbar-movil--list"><a href="about" class="navbar-link link">ABOUT US</a></li>
    </ul>
    </nav>

    <div id="cart" class="cart">
        <div class="container cart-container">
        <div class="cart__header">
            <h2 class="cart__title">Shopping Bag</h2>
            <span id="cart--close" class="material-icons-outlined icon">close</span>
        </div>
        <div class="cart__content">
            <div class="cart-item">
            <div class="cart-item__img">
                <img src="./img/product_1.jpg" alt="product_cart">
            </div>
            <div class="cart-item__content">
                <div class="cart-item__header">
                <div class="cart-item__info">
                    <p class="cart-item__title">Woman jacket for snown station</p>
                    <p class="cart-item__option">Size : M</p>
                    <p class="cart-item__option">Color : Black</p>
                    <p class="cart-item__option">Price : Bs. 130.00</p>
                </div>
                </div>
                <div class="cart-item__details">
                <div class="cart-item__quantity">
                    <button class="cart-item__quantity__btn"><span class="material-icons-outlined md-18">remove</span></button>
                    <p class="cart-item__quantity__label">1</p>
                    <button class="cart-item__quantity__btn"><span class="material-icons-outlined md-18">add</span></button>
                </div>
                <a href="" class="link">Remove</a>  
                </div>
            </div>
            </div>
            <div class="cart-item">
            <div class="cart-item__img">
                <img src="./img/product_1.jpg" alt="product_cart">
            </div>
            <div class="cart-item__content">
                <div class="cart-item__header">
                <div class="cart-item__info">
                    <p class="cart-item__title">Woman jacket for snown</p>
                    <p class="cart-item__option">Size : M</p>
                    <p class="cart-item__option">Color : Black</p>
                    <p class="cart-item__option">Price : Bs. 130.00</p>
                </div>
                </div>
                <div class="cart-item__details">
                <div class="cart-item__quantity">
                    <button class="cart-item__quantity__btn"><span class="material-icons-outlined md-18">remove</span></button>
                    <p class="cart-item__quantity__label">1</p>
                    <button class="cart-item__quantity__btn"><span class="material-icons-outlined md-18">add</span></button>
                </div>
                <a href="" class="link">Remove</a>  
                </div>
            </div>
            </div>
        </div>
        <div class="cart__fotter">
            <div class="cart__total"><span class="cart__total-text">Total:   </span>   Bs130.00</div>
            <a href="#" class="btn btn--refilled btn__full"><span class="material-icons-outlined btn__icon">shopping_bag</span>Continue to Checkout</a>
        </div>
        </div>
    </div>

    {{{body}}}

    <footer class="footer">
        <p class="section_title2">Elegancy</p>
        <div class="container">
        <div class="row footer-row">
            <div class="col-sm-6 col-md-4 col-lg-3">
            <dl>
                <dt class="footer__title">Get in touch</dt>
                <dd class="footer__item"><span class="material-icons-outlined md-18 contact-icon">location_on</span> Calle Cabrera, No 57, Uyuni</dd>
                <dd class="footer__item"><span class="material-icons-outlined md-18 contact-icon">mail_outline</span> titans_gym@gmail.com</dd>
                <dd class="footer__item"><span class="material-icons-outlined md-18 contact-icon">phone</span> (+591)75726607</dd>
            </dl>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
            <dl>
                <dt class="footer__title">We're available</dt>
                <dd class="footer__item"><a href="">Monday - Friday : 8am - 8pm</a></dd>
                <dd class="footer__item"><a href="">Saturday : 8am - 10pm</a></dd>
                <dd class="footer__item"><a href="">Sunday: 8am - 11pm</a></dd>
            </dl>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
            <dl>
                <dt class="footer__title">Privacy Polity</dt>
                <dd class="footer__item"><a href="">Lorem ipsum dolor sit amet me</a></dd>
                <dd class="footer__item"><a href="">Lorem ipsum dolor sit amet</a></dd>
                <dd class="footer__item"><a href="">Lorem ipsum dolor sit</a></dd>
                <dd class="footer__item"><a href="">Lorem ipsum dolor sit amet</a></dd>
            </dl>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
            <dl>
                <dt class="footer__title">Customer Service</dt>
                <dd class="footer__item"><a href="">Lorem ipsum dolor sit amet?</a></dd>
                <dd class="footer__item"><a href="">Lorem ipsum dolor sit </a></dd>
                <dd class="footer__item"><a href="">Lorem ipsum dolor sit amet</a></dd>
                <dd class="footer__item"><a href="">Lorem ipsum dolor amet?</a></dd>
            </dl>
            </div>
            <div class="col-12">
            <dl class="footer__social">
                <dd class="footer__item"><a href="https://www.facebook.com/" target="_blank"><span class="material-icons-outlined md-36">facebook</span></a></dd>
                <dd class="footer__item"><a href="https://www.facebook.com/" target="_blank"><span class="material-icons-outlined md-36">facebook</span></a></dd>
                <dd class="footer__item"><a href="https://www.facebook.com/" target="_blank"><span class="material-icons-outlined md-36">facebook</span></a></dd>
            </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4"><p class="caption text-center">© 2021 Elegancy</p></div>
            <div class="col-12 col-md-4"><p class="caption text-center">Terms of use</p></div>
            <div class="col-12 col-md-4"><p class="caption text-center">Privacy Policy</p></div>
        </div>
        </div>
    </footer>

    <script src="/js/index.js"></script>
    <script src="/js/map.js"></script>
</body>
</html>