.faq {
    margin-bottom: 1rem;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.faq__question {
    color: $secondary-color;
    cursor: pointer;
    font-family: 'Lucida', serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 1px;
    opacity: .8;
    padding-left: 1.5rem;
    padding-bottom: .5rem;
    &:hover {
        color: $tertiary-color;
    }
}

.faq__answer {
    font-family: 'Lucida', serif;
    font-size: .875rem;
    font-weight: 400;
    height: 0px;
    line-height: 1.25rem;
    letter-spacing: 1px;
    opacity: .6;
    overflow: hidden;
    padding-left: 1.5rem;
    margin-bottom: .5rem;
    transition: all 500ms ease;
}

.faq__icon {
    color: $secondary-color;
    font-size: 1rem;
    margin-left: -8px;
    opacity: 0.6;
    position: absolute;
}

.contact-text {
    font-family: 'Roboto', serif;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
    color: $primary-color;
}
.contact-icon {
    position: relative;
    color: $tertiary-color;
    top: 6px;
}

.container-form {
    margin-top: 5rem;
    width: 100%;
    background-color: $quintuary-color;
    padding-bottom: 5rem;
}