<div class="main-container">
  <!--BANNER-->
  <div class='banner demo-banner'>
    <img src="./img/info.jpg" alt='banner HidelStyles' class='banner__hero-img' />
    <div class='banner-container__title'>
        <h1 class='banner__title'>Information</h1>
    </div>
  </div>
  <!--BANNER-->
  <div class="container">
    <section class="section">
      <h2 class="section_title2">frecuently Asked Questions</h2>
      <div class="row">
        <div class="col col-md-7">
          <div class="faq">
            <h3 class="section_title3">return and exchange</h3>
            <div class="faq__item">
                <span class="material-icons-outlined faq__icon">keyboard_arrow_right</span>
                <h4 class="accordion faq__question">How do I return a gift?</h4>
                <p class="faq__answer" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi exercitationem quia, distinctio eaque dolorem tenetur reiciendis quasi, natus magni quis suscipit nobis quidem placeat architecto culpa harum alias consequuntur animi.</p>
            </div>
            <div class="faq__item">
                <span class="material-icons-outlined faq__icon">keyboard_arrow_right</span>
                <h4 class="accordion faq__question">Can I exchange my item for a different size?</h4>
                <p class="faq__answer" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi exercitationem quia, distinctio eaque dolorem tenetur reiciendis quasi, natus magni quis suscipit nobis quidem placeat architecto culpa harum alias consequuntur animi.</p>
            </div>
            <div class="faq__item">
                <span class="material-icons-outlined faq__icon">keyboard_arrow_right</span>
                <h4 class="accordion faq__question">What is your return policy?</h4>
                <p class="faq__answer" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi exercitationem quia, distinctio eaque dolorem tenetur reiciendis quasi, natus magni quis suscipit nobis quidem placeat architecto culpa harum alias consequuntur animi.</p>
            </div>
          </div>
          <div class="faq">
            <h3 class="section_title3">Shipping</h3>
            <div class="faq__item">
                <span class="material-icons-outlined faq__icon">keyboard_arrow_right</span>
                <h4 class="accordion faq__question">What countries or regions do you ship to?</h4>
                <p class="faq__answer" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi exercitationem quia, distinctio eaque dolorem tenetur reiciendis quasi, natus magni quis suscipit nobis quidem placeat architecto culpa harum alias consequuntur animi.</p>
            </div>
            <div class="faq__item">
                <span class="material-icons-outlined faq__icon">keyboard_arrow_right</span>
                <h4 class="accordion faq__question">How long will it take to get my order?</h4>
                <p class="faq__answer" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi exercitationem quia, distinctio eaque dolorem tenetur reiciendis quasi, natus magni quis suscipit nobis quidem placeat architecto culpa harum alias consequuntur animi.</p>
            </div>
            <div class="faq__item">
                <span class="material-icons-outlined faq__icon">keyboard_arrow_right</span>
                <h4 class="accordion faq__question">How do I track my order?</h4>
                <p class="faq__answer" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi exercitationem quia, distinctio eaque dolorem tenetur reiciendis quasi, natus magni quis suscipit nobis quidem placeat architecto culpa harum alias consequuntur animi.</p>
            </div>
            <div class="faq__item">
                <span class="material-icons-outlined faq__icon">keyboard_arrow_right</span>
                <h4 class="accordion faq__question">Are there additional fees on shipments?</h4>
                <p class="faq__answer" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi exercitationem quia, distinctio eaque dolorem tenetur reiciendis quasi, natus magni quis suscipit nobis quidem placeat architecto culpa harum alias consequuntur animi.</p>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <h3 class="section_title3">are you still in doubt? write us</h3>
          <form class="row form" method="POST">
            <div class="col">
                <div class="form-item">
                    <div class='text-field--outline'>
                        <input class='input text-field--outline__input' type='name' id='name' name='name' required />
                        <label class='text-field--outline__label' htmlFor='name'>name</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-item">
                    <div class='text-field--outline'>
                        <input class='input text-field--outline__input' type='email' id='email' name='email' required />
                        <label class='text-field--outline__label' htmlFor='email'>email</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-item">
                    <div class='text-field--outline'>
                        <input class='input text-field--outline__input' type='text' id='subject' name='subject' required />
                        <label class='text-field--outline__label' htmlFor='subject'>Subject</label>
                    </div>
                </div>
                <div class="form-item">
                    <div class='text-field--outline'>
                        <textarea class='input text-field--outline__input text-field--outline__input--textarea' rows="4" id='text' name='text' required></textarea>
                        <label class='text-field--outline__label' htmlFor='text'>text</label>
                    </div>
                </div>
                <div class="form-item">
                  <input type="submit" class="btn btn--refilled btn__full" value="Send Message">
                </div>
            </div>
          </form>
        </div>  
      </section>
    </div>
  </div>
</div>
