<div class="main-container">

    <!--BANNER-->

    <div class='banner demo-banner'>
    <img src="./img/contact-us.jpg" alt='banner HidelStyles' class='banner__hero-img' />
    <div class='banner-container__title'>
        <h1 class='banner__title'>Contacts</h1>
    </div>
    </div>

    <!--BANNER-->
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <section class="section">
                    <div class="section-container">
                    <!-- <h2 class="section_title2">contact info</h2> -->
                    <p class="section-icon material-icons-outlined md-80">phone_in_talk</p>
                    <h2 class="section_title3">Contact Info</h2>
                    <p class="contact-text"><span class="material-icons-outlined contact-icon">location_on</span> Calle Cabrera, No 57, Uyuni</p>
                    <p class="contact-text"><span class="material-icons-outlined contact-icon">mail_outline</span> titans_gym@gmail.com</p>
                    <p class="contact-text"><span class="material-icons-outlined contact-icon">phone</span> (+591)75726607</p>
                    </div>
                </section>
                </div>
                <div class="col-lg-6">
                    <section class="section">
                    <div id="mapid"></div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <section class="section">
                        <div class="section-container">
                        <!-- <h2 class="section_title2">our store</h2> -->
                        <p class="section-icon material-icons-outlined md-80">storefront</p>
                        <h2 class="section_title3">Our Store</h2>
                        <p class="text-body1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla reiciendis asperiores eveniet iusto assumenda tempora, perspiciatis quibusdam minima voluptas libero qui pariatur mollitia nihil eaque molestiae tenetur itaque vel sapiente!</p>
                        </div>
                    </section>
                </div>
            <div class="col-lg-6">
                <section class="section">
                    <img src="./img/store_about.jpg" alt="maps">
                </section>
            </div>
        </div>
    </div>
    <div class="container-form">
    <section class="section container">
        <h2 class="section_title2">get in touch</h2>
        <form class="row form" method="POST">
            <div class="col-md-6 form-items">
                <div class='text-field--outline'>
                    <input class='input text-field--outline__input' type='name' id='name' name='name' required />
                    <label class='text-field--outline__label' htmlFor='name'>name</label>
                </div>
            </div>
            <div class="col-md-6 form-items">
                <div class='text-field--outline'>
                    <input class='input text-field--outline__input' type='email' id='email' name='email' required />
                    <label class='text-field--outline__label' htmlFor='email'>email</label>
                </div>
            </div>
            <div class="col">
                <div class="form-items">
                    <div class='text-field--outline'>
                        <input class='input text-field--outline__input' type='text' id='subject' name='subject' required />
                        <label class='text-field--outline__label' htmlFor='subject'>Subject</label>
                    </div>
                    </div>
                    <div class="form-items">
                    <div class='text-field--outline'>
                        <textarea class='input text-field--outline__input text-field--outline__input--textarea' rows="4" id='text' name='text' required></textarea>
                        <label class='text-field--outline__label' htmlFor='text'>text</label>
                    </div>
                    </div>
                    <div class="form-items">
                        <input type="submit" class="btn btn--refilled btn__full" value="Send Message">
                    </div>
                </div>
            </div>
        </form>
    </section>
    </div>
</div>
