<div class="main-container">
  <div class='banner demo-banner-primary'>
    <img src="./img/imgbannerdesktop.jpg" alt='banner HidelStyles' class='banner__hero-img' />
    <div class='banner-container__title'>
        <h1 class='banner__title'>SucreStore</h1>
    </div>
    <div class='banner-container__subtitle'>
      <p class='banner__subtitle'>elegance & style</p>
    </div>
  </div>
  <section class="section">
    <p class="section_subtitle">THE BEST PRICES</p>
    <h2 class="section_title">PROMO PRICES</h2>
    <div class="container">
      <div class="row demo-card-collection">
        <div class="col-md-6 col-lg-4">
          <div class="card demo-card-prod  ">
            <div class="card-information">
                <div class="card__media">
                    <img src="./img/Promo_1.jpg" alt="ShoesPromo">
                    <div class="card__media-content demo-card__media-content">
                      <div class="card__promo">
                        <div class="card__promo-title card__media-content-text">- 10% off</div>
                        <div class="card__promo-subtitle card__media-content-text">ON ALL SHOES</div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card__actions">
                <div class="card__actions-buttons">
                  <a href="#" class="btn btn--refilled btn__full"><span class="material-icons-outlined">shopping_bag</span> Shop Now</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card demo-card-prod  ">
            <div class="card-information">
                <div class="card__media">
                    <img src="./img/Promo_2.jpg" alt="ShoesPromo">
                    <div class="card__media-content demo-card__media-content">
                      <div class="card__promo">
                        <div class="card__promo-title card__media-content-text">- 10% off</div>
                        <div class="card__promo-subtitle card__media-content-text">ON ALL SHOES</div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card__actions">
                <div class="card__actions-buttons">
                  <a href="#" class="btn btn--refilled btn__full"><span class="material-icons-outlined">shopping_bag</span> Shop Now</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card demo-card-prod  ">
            <div class="card-information">
                <div class="card__media">
                    <img src="./img/Promo_3.jpg" alt="ShoesPromo">
                    <div class="card__media-content demo-card__media-content">
                      <div class="card__promo">
                        <div class="card__promo-title card__media-content-text">- 10% off</div>
                        <div class="card__promo-subtitle card__media-content-text">ON ALL SHOES</div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card__actions">
                <div class="card__actions-buttons">
                  <a href="#" class="btn btn--refilled btn__full"><span class="material-icons-outlined">shopping_bag</span> Shop Now</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
      <p class="section_subtitle">ONLY THE BEST</p>
      <h2 class="section_title">NEW ARRIVALS</h2>
    <div class="container">
      <div class="row demo-card-collection">
        <div class="col-md-6 col-lg-4">
          <div class="card demo-card-prod  ">
              <div class="card-information">
                  <div class="card__media">
                      <img src="./img/product_1.jpg" alt="clothes">
                  </div>
                  <div class="card__primary">
                      <div class="card__title">Woman White Jacket</div>
                      <div class="card__subtitle">StylesG</div>
                  </div>
              </div>
              <div class="card__actions">
                  <div class="card__actions-buttons">
                      <p class="card__price">Bs. 140.00</p>
                  </div>
                  <div class="card__actions-icons">
                        <button class="icon-btn">
                          <span class="material-icons-outlined">favorite_border</span>
                        </button>
                        <button class="icon-btn">
                          <span class="material-icons-outlined">shopping_bag</span>
                        </button>
                        <button class="icon-btn">
                          <span class="material-icons-outlined">more_vert</span>
                        </button>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card demo-card-prod  ">
              <div class="card-information">
                  <div class="card__media">
                      <img src="./img/product_2.jpg" alt="clothes">
                  </div>
                  <div class="card__primary">
                      <div class="card__title">Woman White Jacket</div>
                      <div class="card__subtitle">StylesG</div>
                  </div>
              </div>
              <div class="card__actions">
                  <div class="card__actions-buttons">
                      <p class="card__price">Bs. 140.00</p>
                  </div>
                  <div class="card__actions-icons">
                        <button class="icon-btn">
                          <span class="material-icons-outlined">favorite_border</span>
                        </button>
                        <button class="icon-btn">
                          <span class="material-icons-outlined">shopping_bag</span>
                        </button>
                        <button class="icon-btn">
                          <span class="material-icons-outlined">more_vert</span>
                        </button>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card demo-card-prod  ">
              <div class="card-information">
                  <div class="card__media">
                      <img src="./img/product_3.jpg" alt="clothes">
                  </div>
                  <div class="card__primary">
                      <div class="card__title">Woman White Jacket</div>
                      <div class="card__subtitle">StylesG</div>
                  </div>
              </div>
              <div class="card__actions">
                  <div class="card__actions-buttons">
                      <p class="card__price">Bs. 140.00</p>
                  </div>
                  <div class="card__actions-icons">
                        <button class="icon-btn">
                          <span class="material-icons-outlined">favorite_border</span>
                        </button>
                        <button class="icon-btn">
                          <span class="material-icons-outlined">shopping_bag</span>
                        </button>
                        <button class="icon-btn">
                          <span class="material-icons-outlined">more_vert</span>
                        </button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section">
    <p class="section_subtitle">HStyles COMMUNITY</p>
    <h2 class="section_title">TESTIMONIALS</h2>
    <div class="container">
      <p class="comentary__text">
        “Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas tempor leo.Integer ut imperdiet erat. Quisque ultricies lectus tellus.”
      </p>
      <div class="comentary__user">
        <div class="comentary__user-photo">
          <img src="./img/testimonials.jpg" alt="user__photo">
        </div>
        <div class="comentary__user-name">
          <p class="letter-spacing2">Christinne Smith</p>
          <p class="opacity letter-spacing3">CLIENT</p>
        </div>
      </div>
    </div>
  </section>
</div>  
