<div class="main-container">
    <div class="container">
      <div class="row section">
        <div class="col-12 link-container">
          <a href="products.html" class="navbar-link link link--actived">Woman</a>
        </div>
        <div class="col col-md-6">
          <div class="product__gallery">
            <img src="./img/woman_jacket.jpeg" alt="woman_jacket">
            <div class="product__images">
              <ul class="product__images-container">
                <li class="product__images--item"><img src="./img/woman_jacketm1.jpeg" alt="woman_jacket"></li>
                <li class="product__images--item"><img src="./img/woman_jacketm2.jpeg" alt="woman_jacket"></li>
                <li class="product__images--item"><img src="./img/woman_jacketm3.jpeg" alt="woman_jacket"></li>
                <li class="product__images--item"><img src="./img/woman_jacketm4.jpeg" alt="woman_jacket"></li>
                <li class="product__images--item"><img src="./img/woman_jacketm5.jpeg" alt="woman_jacket"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <h2 class="product__title">Woman Jacket</h2>
          <p class="product__price">Bs. 135.00</p>
          <p class="product__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ullam voluptatum ipsam expedita dolor sequi sint enim debitis eos quisquam. Pariatur quisquam provident cumque eveniet quis, non accusamus sit harum.</p>
          <form action="">
            <fieldset>
              <legend class="product__subtitle">Color</legend>
              <ul class="product__color">
                <li>
                  <label for="size_xs" class="product__color-label selected">
                    <input type="radio" name="black" id="black" value="back">
                  </label>
                </li>
                <li>
                  <label for="size_xs" class="product__color-label">
                    <input type="radio" name="black" id="black" value="back">
                  </label>
                </li>
                <li>
                  <label for="size_xs" class="product__color-label">
                    <input type="radio" name="black" id="black" value="back">
                  </label>
                </li>
              </ul>
            </fieldset>
            <fieldset>
              <legend class="product__subtitle">Size</legend>
              <ul class="product__size">
                <li>
                  <input type="radio" name="size" id="size_xs" class="product__size-radio">
                  <label for="size_xs" class="product__size-label  selected">xs</label>
                </li>
                <li>
                  <input type="radio" name="size" id="size_xs" class="product__size-radio">
                  <label for="size_xs" class="product__size-label">s</label>
                </li>
                <li>
                  <input type="radio" name="size" id="size_xs" class="product__size-radio">
                  <label for="size_xs" class="product__size-label">m</label>
                </li>
                <li>
                  <input type="radio" name="size" id="size_xs" class="product__size-radio">
                  <label for="size_xs" class="product__size-label">l</label>
                </li>
                <li>
                  <input type="radio" name="size" id="size_xs" class="product__size-radio">
                  <label for="size_xs" class="product__size-label">xl</label>
                </li>
              </ul>
            </fieldset>
          </form>
          <a href="#" class="btn btn--refilled btn__full"><span class="material-icons-outlined btn__icon">shopping_cart</span> ADD TO CART</a>                
        </div>
      </div>
    </div>    
</div>
